// Example of how a block def may look like
// Blocks will be able to use scripts which will expose some api
// Some blocks will require custom code
BlockDescriptor(
    namespace: "vinox",
    block_name: "wood",
    textures: {
    "up": "wood.png",
    "down": "wood.png",
    "left": "wood.png",
    "right": "wood.png",
    "front": "wood.png",
    "back": "wood.png",
    },
    interactable: false,
    friction: 0.5,
    break_time: 5,
    break_tool: "shovel",
    walk_sound: Some("grass_walk.wav"),
    break_sound: Some("grass_break.wav"),
    block_script: Some("grass.lua"),
    visibility: "opaque",
    block_geometry: "block",
    light_val: 0
 
)